<div class="container">
  <div class="row">
    <div class="col m6">
      <h2>管理システム</h2>
      <div id="card-alert" class="card deep-purple">
        <div class="card-content white-text">
          <p><i class="mdi-action-info-outline"></i> 業務用テストシステム</p>
        </div>
      </div>
      <div *ngIf="this.errorMessage">
        <div id="card-alert" class="card orange">
          <div class="card-content white-text">
            <p><i class="mdi-alert-warning"></i> {{this.errorMessage}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col m6">
      <h2 class="center-align">Login</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="loginid" type="text" class="validate" [(ngModel)]="loginId" name="loginId">
              <label for="loginid">Login ID</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="pass" type="password" class="validate" [(ngModel)]="password" name="password">
              <label for="pass">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>
                <input type="checkbox" id="remember">
                <label for="remember">Remember me</label>
              </p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col m12">
              <p class="right-align">
                <button class="btn btn-large waves-effect waves-light" type="button" name="action" (click)="loginClick($event)">
                Login
                </button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>